package io.rebot.forkcrane.domain;

public class Constant {
	public static final String IP 									= "";
	public static final int PORT 									= ;
	
	public static final String USER 								= "";
	public static final String PASSWORD 							= "";
	
	public static final String DB_NAME								= "";
	
	public static final String COLLECTION_LOGIN_USERS				= "";
	
	public static final String COLLECTION_USERS						= "";
	public static final String COLLECTION_GITHUB					= "";
	public static final String COLLECTION_REPOSITORY				= "";
	public static final String COLLECTION_LANGUAGE_RANK				= "";
	public static final String COLLECTION_TRENDLEADER_RANK			= "";
	public static final String COLLECTION_EVENTS 					= "";
	
	public static final String HASH_KEY_TOTAL_ESTIMATION = "total_estimation";
	public static final String HASH_KEY_TOTAL_REPOCOUNT = "total_count";
	
	public static final boolean DEBUGING 							= false;
}
